USE [master]
GO
/****** Object:  Database [InventoryApp]    Script Date: 2/3/2018 7:06:22 PM ******/
CREATE DATABASE [InventoryApp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'InventoryApp', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS2017\MSSQL\DATA\InventoryApp.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'InventoryApp_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS2017\MSSQL\DATA\InventoryApp_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [InventoryApp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [InventoryApp]
GO
USE [InventoryApp]
GO
/****** Object:  User [sqldev]    Script Date: 2/3/2018 7:06:22 PM ******/
CREATE USER [sqldev] FOR LOGIN [sqldev] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [sqldev]
GO
/****** Object:  Table [dbo].[Inventory]    Script Date: 2/3/2018 7:06:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventory](
	[InventoryID] [bigint] IDENTITY(1,1) NOT NULL,
	[ItemName] [varchar](50) NOT NULL,
	[QTY] [int] NOT NULL,
	[ExpireDate] [datetime] NULL,
	[DateEntered] [datetime] NOT NULL,
	[Notes] [varchar](150) NULL,
	[LastUpdated] [datetime] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[Category] [varchar](50) NULL,
 CONSTRAINT [PK_Inventory] PRIMARY KEY CLUSTERED 
(
	[InventoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Inventory] ADD  CONSTRAINT [DF_Inventory_QTY]  DEFAULT ((0)) FOR [QTY]
GO
ALTER TABLE [dbo].[Inventory] ADD  CONSTRAINT [DF_Inventory_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
USE [master]
GO
